.menu {
    width: 250px;
    border: 1px solid rgba(0,0,0,.125);
}

/* NavLink needs deep */
::deep .menu-item {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.content {
    padding: 10px;
    overflow-y: auto;
}