@inherits LayoutComponentBase
@layout SAdminGuard

<div class="d-flex flex-row w-100 h-100">
    <div class="menu d-flex flex-shrink-0 flex-column bg-light">
        @foreach (Menu menu in menus)
        {
            <NavLink
                @key=menu.Href
                href="@menu.Href"
                class="menu-item list-group-item list-group-item-action bg-light"
                Match="NavLinkMatch.All"
                ActiveClass="">
                @menu.Name
            </NavLink>
        }
    </div>
    <div class="content d-block flex-grow-1">
        @Body
    </div>
</div>

@code {
    class Menu
    {
        public string Href
        {
            get;
            set;
        }

        public string Name 
        {
            get;
            set;
        }

        public Menu(string href, string name)
        {
            Href = href;
            Name = name;
        }
    }

    static Menu[] menus = new[]
    {
        new Menu("/sadmin", "Dashboard"),
        new Menu("/sadmin/schools", "Sekolah"),
        new Menu("/sadmin/users", "Akun"),
        new Menu("/logout", "Logout")
    };
}