﻿/* Reset margin and padding for all */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Max body */
html, body, app {
    width: 100%;
    height: 100%;
}

/* Vertical center table row */
td {
    vertical-align: middle !important;
}

/* Form group padding for glows >:( */
.form-group {
    padding: 3px;
}