<Modal
    @ref=Modal
    Title="Data Pengguna"
    IsLoading="m_vm.IsLoading"
    PositiveLabel="Simpan"
    PositiveCommand="m_vm.SaveCommand">
    <form 
        novalidate 
        @onsubmit=m_vm.Save>
        <div class="form-group">
            <label for="txtSchool">Sekolah</label>
            
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.School)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtName">Nama</label>
            <input 
                type="text" 
                class="form-control @NameClass" 
                id="txtName"
                placeholder="Nama"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Name>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Name)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtNIP">NIP</label>
            <input 
                type="text" 
                class="form-control @NIPClass" 
                id="txtNIP"
                placeholder="NIP"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.NIP>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.NIP)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtEmail">Email</label>
            <input 
                type="email" 
                class="form-control @EmailClass" 
                id="txtEmail"
                placeholder="Email"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Email>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Email)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input 
                type="password" 
                class="form-control @PasswordClass" 
                id="txtPassword"
                placeholder="Password"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Password>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Password)])
            </div>
        </div>
    </form>
</Modal>

@inject IUserRepository UserRepo
@inject ISchoolRepository SchoolRepo
@inject IAlertService AlertService
@inject AuthViewModel AuthVM
@code {
    UserEditorViewModel m_vm;

    public Modal Modal 
    {
        get;
        set;
    }

    public User Result 
    {
        get;
        set;
    }

    public string SchoolClass
    {
        get
        {
            if (!m_vm.CanValidate) return "form-control";
            return 
                "form-control" +
                (m_vm.IsError(nameof(m_vm.School)) ?
                "is-invalid" : "is-valid");
        }
    }

    public string NameClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Name)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string NIPClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.NIP)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string EmailClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Email)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string PasswordClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Email)) ?
                "is-invalid" : "is-valid";
        }
    }

    protected override void OnInitialized()
    {
        m_vm = new UserEditorViewModel(
            UserRepo,
            SchoolRepo,
            AlertService,
            AuthVM);
        m_vm.PropertyChanged += (_, __) => StateHasChanged();
        m_vm.Done += async (result) =>
        {
            Result = result;
            await Modal.CloseAsync();
        };

        base.OnInitialized();
    }

    public void Assign(User user)
    {
        Result = null;
        m_vm.ExistingUser = user;
    }
}