@page "/sadmin/users"
@layout SAdminLayout

<UserEditor @ref=m_editorService.Editor/>

<Button
    Class="btn-add"
    Command="m_vm.CreateCommand">
    Tambah
</Button>

@using smkabsen.Web.Main.SAdmin.Users.Editor
@implements IDisposable
@inject IUserRepository UserRepo
@inject IAlertService AlertService
@inject AuthViewModel AuthVM
@inject NavigationManager Nav
@code {
    UserEditorService m_editorService;
    UsersViewModel m_vm;

    protected override void OnInitialized()
    {
        // Editor service.
        m_editorService = new UserEditorService();

        // View model.
        m_vm = new UsersViewModel(
            UserRepo,
            AlertService,
            m_editorService,
            AuthVM);
        m_vm.PropertyChanged += (_, __) => StateHasChanged();

        // Loading schools.
        HandleLocationChanged(null, null);
        Nav.LocationChanged += HandleLocationChanged;

        // Done init.
        base.OnInitialized();
    }

    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        m_vm.Skip = Nav.GetQueryStringValue<int>("skip");
        m_vm.LoadUsers();
    }

    public void Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
        m_vm.Dispose();
    }
}