<div id="@Id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                @if (IsLoading)
                {
                    <LoadingIndicator></LoadingIndicator>
                }
                else
                {
                    <Button
                        Command="PositiveCommand">
                        @(string.IsNullOrEmpty(PositiveLabel) ? "OK" : PositiveLabel)
                    </Button>
                    
                    @if (!string.IsNullOrEmpty(NegativeLabel))
                    {
                        <Button
                            Type="btn-secondary"
                            Command="NegativeCommand">
                            @NegativeLabel
                        </Button>
                    }
                }
            </div>
        </div>
    </div>
</div>

@inject IJSRuntime JS
@code {
    public string Id 
    {
        get;
        private set;
    }

    [Parameter]
    public bool IsLoading
    {
        get;
        set;
    }

    [Parameter]
    public string Title
    {
        get;
        set;
    }

    [Parameter]
    public RenderFragment ChildContent
    {
        get;
        set;
    }

    [Parameter]
    public string PositiveLabel
    {
        get;
        set;
    }

    [Parameter]
    public ICommand PositiveCommand
    {
        get;
        set;
    }

    [Parameter]
    public string NegativeLabel
    {
        get;
        set;
    }

    [Parameter]
    public ICommand NegativeCommand
    {
        get;
        set;
    }

    public Modal()
    {
        Id = "bootstrap-modal-" + Guid.NewGuid().ToString();
    }

    public async Task<bool> IsOpenAsync()
    {
        return await JS.InvokeAsync<bool>("methods.isModalOpen", Id);
    }

    public async Task WaitAsync()
    {
        while (await IsOpenAsync())
        {
            await Task.Delay(100);
        }
    }

    public async Task ShowAsync()
    {
        await JS.InvokeVoidAsync("methods.showModal", Id);
    }

    public async Task CloseAsync()
    {
        await JS.InvokeVoidAsync("methods.closeModal", Id);
    }
}