<button 
    id="@Id"
    class="btn table-action-button"
    @onclick=HandleClick>
    <span class="@FaClass"></span>
</button>

@code {
    [Parameter]
    public string Id 
    {
        get;
        set;
    }

    [Parameter]
    public string FaClass
    {
        get;
        set;
    }

    [Parameter]
    public ICommand Command 
    {
        get;
        set;
    }

    [Parameter]
    public object CommandParameter
    {
        get;
        set;
    }

    void HandleClick()
    {
        Command?.Execute(CommandParameter);
    }
}