<Modal
    @ref=Modal
    Title="Data Sekolah"
    IsLoading="m_vm.IsLoading"
    PositiveLabel="Simpan"
    PositiveCommand="m_vm.SaveCommand">
    <form novalidate @onsubmit=m_vm.Save>
        <div class="form-group">
            <label for="txtNPSN">NPSN</label>
            <input 
                type="text" 
                class="form-control @NPSNClass" 
                id="txtNPSN"
                placeholder="NPSN"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.NPSN>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.NPSN)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtName">Nama Sekolah</label>
            <input 
                type="text" 
                class="form-control @NameClass" 
                id="txtName"
                placeholder="Nama Sekolah"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Name>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Name)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtAddress">Alamat Sekolah</label>
            <textarea
                class="form-control @AddressClass"
                id="txtAddress"
                placeholder="Alamat Sekolah"
                disabled="@m_vm.IsLoading"
                @bind=m_vm.Address></textarea>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Address)])
            </div>
        </div>
    </form>
</Modal>

@inject ISchoolRepository SchoolRepo
@inject IAlertService AlertService
@code {
    SchoolEditorViewModel m_vm;

    public Modal Modal 
    {
        get;
        private set;
    }

    public School Result
    {
        get;
        private set;
    }

    public string NPSNClass 
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.NPSN)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string NameClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Name)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string AddressClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Address)) ?
                "is-invalid" : "is-valid";
        }
    }

    protected override void OnInitialized()
    {
        m_vm = new SchoolEditorViewModel(
            SchoolRepo,
            AlertService);
        m_vm.PropertyChanged += (_, __) => StateHasChanged();
        m_vm.Done += async (result) => 
        {
            Result = result;
            await Modal.CloseAsync();
        };

        base.OnInitialized();
    }

    public void Assign(School school)
    {
        Result = null;
        m_vm.ExistingSchool = school;
    }
}