@page "/sadmin/schools"
@layout SAdminLayout

<SchoolEditor @ref=m_editorService.Editor/>

<div>
    <h3>Schools</h3>

    @if (m_vm.IsLoading)
    {
        <LoadingIndicator/>
    }
    else
    {
        <Button 
            Class="btn-add" 
            Command="m_vm.CreateCommand">
            Tambah
        </Button>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nama Sekolah</th>
                    <th>NPSN</th>
                    <th>Alamat</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SchoolViewModel school in m_vm.Schools)
                {
                    <tr @key=school.Model.Id>
                        <td>@school.Name</td>
                        <td>@school.NPSN</td>
                        <td class="address-col">@school.Address</td>
                        <td class="text-center">
                            <TableActionButton 
                                FaClass="fas fa-edit"
                                Command="school.EditCommand"/>
                            <TableActionButton 
                                FaClass="fas fa-trash-alt"
                                Command="school.DeleteCommand"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (m_vm.CanNext)
        {
            <NavLink
                href="@SkipHref">
                Next
            </NavLink>
        }
    }
</div>

@using smkabsen.Web.Main.SAdmin.Schools.Editor
@implements IDisposable
@inject ISchoolRepository SchoolRepository
@inject IAlertService AlertService
@inject AuthViewModel AuthVM
@inject NavigationManager Nav
@code {
    SchoolsViewModel m_vm;
    SchoolEditorService m_editorService;

    public string SkipHref
    {
        get
        {
            return 
                "/sadmin/schools?skip=" + 
                (m_vm.Skip + m_vm.Limit);
        }
    }

    protected override void OnInitialized()
    {
        m_editorService = new SchoolEditorService();

        // Initializing vm.
        m_vm = new SchoolsViewModel(
            SchoolRepository,
            AlertService,
            m_editorService,
            AuthVM);
        m_vm.PropertyChanged += (_, __) => StateHasChanged();

        // Loading schools.
        HandleLocationChanged(null, null);
        Nav.LocationChanged += HandleLocationChanged;

        // Done init.
        base.OnInitialized();
    }

    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        m_vm.Skip = Nav.GetQueryStringValue<int>("skip");
        m_vm.LoadSchools();
    }

    public void Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
        m_vm.Dispose();
    }
}