@page "/login"

<h3>SMK Absen Login</h3>

@if (AuthVM.IsAuthenticated)
{
    // Authenticated.
    Nav.NavigateTo("/");
}
else
{
    // Prompting authentication.
    <form novalidate @onsubmit=Submit>
        <div class="form-group">
            <label for="txtEmail">Email</label>
            <input
                type="email"
                class="form-control @EmailClass"
                id="txtEmail"
                placeholder="Email"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Email>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Email)])
            </div>
        </div>

        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input
                type="password"
                class="form-control @PasswordClass"
                id="txtPassword"
                placeholder="Password"
                disabled="@m_vm.IsLoading"
                @bind-value=m_vm.Password>
            <div class="invalid-feedback">
                @(m_vm[nameof(m_vm.Password)])
            </div>
        </div>

        @if (m_vm.IsLoading)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
            <input type="submit" class="btn btn-primary" value="Login">
        }
    </form>
}

@inject IAuthService AuthService
@inject IAlertService AlertService
@inject AuthViewModel AuthVM
@inject NavigationManager Nav
@code {
    LoginViewModel m_vm;

    public string EmailClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return 
                m_vm.IsError(nameof(m_vm.Email)) ?
                "is-invalid" : "is-valid";
        }
    }

    public string PasswordClass
    {
        get
        {
            if (!m_vm.CanValidate) return string.Empty;
            return
                m_vm.IsError(nameof(m_vm.Password)) ?
                "is-invalid" : "is-valid";
        }
    }

    protected override void OnInitialized()
    {
        m_vm = new LoginViewModel(
            AuthService, 
            AlertService,
            AuthVM);
        m_vm.PropertyChanged += (_, __) => StateHasChanged();

        base.OnInitialized();
    }

    void Submit()
    {
        m_vm.LoginCommand.Execute(null);
    }
}